PORT=4000
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/sicfla?schema=public"
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
CLOUDINARY_URL="cloudinary://<api_key>:<api_secret>@<cloud_name>"
